.outbox {
    position: relative;
    width: 1200px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outbox p {
    color: #162938;
    font-size: 0.9em;
}

.outbox h3 {
    color: black;
    font-size: 1.5em;
}
